@page
@model Pr1Lj2St1Fontys_webapp.Pages.OverzichtModel
@{
    ViewData["Title"] = "Overzicht";
}

<header>
    <div class="hero-container content-animation">
        <div class="hero-overlay"></div>
        <img id="heroImageAnimation" src="https://picsum.photos/id/469/1200/400" alt="Hero Image" class="hero-image fade-in">
        <div class="hero-text">
            <h1>Ontdek de beste sportevenementen</h1>
            <p>Blijf op de hoogte van aankomende evenementen bij jou in de buurt.</p>
            <a href="#evenementen" class="btn-details">Bekijk Evenementen</a>
        </div>
    </div>
</header>

<div class="grid-container-sportevents content-animation" id="evenementen">
    @foreach (var item in Model.Evenementen)
    {
        <div class="event-card">
            <h2>@item.Activiteit</h2>
            <h5><strong>Datum & tijd:</strong></h5>
            <p>@item.StartDatumTijd</p>
            <h5><strong>Locatie:</strong></h5>
            <p>@item.Locatie</p>
            <a class="btn-details" href="/Detail?id=@item.EventID">Meer info</a>
        </div>
    }
</div>

<script>
    const images = [
        "https://picsum.photos/id/469/1200/400",
        "https://picsum.photos/id/773/1200/400",
        "https://picsum.photos/id/446/1200/400",
    ];

    let currentImageIndex = 0;
    const heroImage = document.getElementById("heroImageAnimation");

    function changeHeroImage() {
        currentImageIndex = (currentImageIndex + 1) % images.length;
        setTimeout(() => {
            heroImage.src = images[currentImageIndex];
        }, 300);
    }

    setInterval(changeHeroImage, 5000);
</script>


