@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacybeleid";
}

<h1>@ViewData["Title"]</h1>

<p>
    Dit sportplatform respecteert de privacy van alle bezoekers. Er worden geen persoonlijke gegevens verzameld of opgeslagen.
    De informatie op deze website is uitsluitend bedoeld om sportevenementen weer te geven.
	Indien dit aanbod komt met toekomstige wijzigingen, zal dit privacybeleid worden bijgewerkt.
</p>


